jupyter-book
matplotlib
numpy
ghp-import
pyproj
geopandas
geopandas
contextily
cython
earthpy
census 
geoplot
osmnx
sympy
sphinx
sphinx_sitemap
sphinxcontrib.bibtex
sphinx_inline_tabs
pykrige
us
numpy_groupies
pydata-sphinx-theme
sklearn-xarray@git+https://github.com/jgrss/sklearn-xarray.git