jupyter-book==1.0.4.post1
matplotlib
numpy<2
ghp-import
pyproj
geopandas
contextily
cython
earthpy
census
pytidycensus
geoplot
osmnx
sympy
sphinx
sphinx_sitemap
sphinxcontrib.bibtex
sphinx_inline_tabs
pykrige
us
numpy_groupies
pydata-sphinx-theme
geowombat[stac,ml]
